@charset "UTF-8";

*{
    font-family: arial;
    margin:0px;
    padding:0px;
}
body,html {
    background-color: rgb(235, 240, 235);
}

header {
    background-color: rgb(37, 88, 37);
    color: white
}
header > h1{
    padding:10px;
    text-align: center;
}
menu {
    display: none;
}
 span#hamb{
    display: block;
    text-align: center;
    cursor: pointer;
 }
 span#hamb:hover{
    background-color: rgb(34, 107, 34)
 }
menu > ul {
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(37, 81, 37, 0.434);
    color: white;
    text-align: center;
    border-top: 1px solid 
}
menu > ul > li > a:hover{
    background-color: rgb(3, 94, 3);
}
main {
    width: 90vw;
    background-color: white;
    margin:auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

    
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}